@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

.navbar{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}


.book-edit{
  background-color:blue;
  margin: 0 auto;
}
.btn-block{
  width: 100%;
}